:root{
--coral: #ef8354ff;
--night: #141414ff;
--antiflash-white: #eef0f2ff;
}

body {
    font-family: quicksand, sans-serif;
    background-color: var(--antiflash-white);
    margin: 0;
}

.navbar {
    background-color:var(--night);
    color: var(--antiflash-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.brand {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--antiflash-white);
    text-decoration: none;
}

.navbar-right .nav-link {
    margin-left: 50px;
    text-decoration: none;
    padding: 30px 20px;
    color: inherit;
    padding: 5px 10px; 
    transition: background-color 0.3s; 
  }

  .navbar-right .nav-link:hover {
    background-color: var(--coral);
    padding: 30px;
    text-decoration: none;
    transition: 0.3.s ease 0.2s;
  }
    

  .footer {
    background-color:var(--night); 
    color: var(--antiflash-white);
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 100px;
  }
  
  .footer-column h3 {
    margin-bottom: 10px;
  }
  /* if window is scaled smaller, make margin smaller */
  @media (max-width: 900px) {
    .footer-column {
        margin: 0 20px;
    }
}

  /*************** welcome container top of main page **********************/

  .welcome-container {
    position: relative;
    text-align: center;
    height: 100vh; /* Set container height to viewport height */
    overflow: hidden; /* Hide overflow content */
}

.welcome-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/indian-food.jpg");
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /*Prevent image repeating */
    background-position: center; /* Center the background */
    filter: brightness(50%);
}

.welcome-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--antiflash-white);
    font-size: 60px;
    font-weight: 500;
}

.welcome-btn {
    position: absolute;
    bottom: 40%; /* Adjust bottom position as per your preference */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--coral);
    color: var(--antiflash-white);
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

.welcome-btn:hover {
    background-color: var(--antiflash-white);
    color: var(--coral);
    transition: background-color 0.3s;
}


 /******************* second part main page *********************/
 .second-container {
  display: flex;
  padding: 100px;
  margin-bottom: 100px;
 }


 /* in case window get's scaled smaller than 900px wide, change flex direction*/
 @media (max-width: 900px) {
  .second-container {
      flex-direction: column;
  }
  
}

 .text-container-left {
  padding: 10px;
  /*border: 5px solid #ccc; /* Just for demonstration */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center align the content */
}

/* Make the words wrap differently if to small*/
@media (min-width: 768px) {
  .text-container-left {
      word-wrap: break-word;
  }
}
 
 .why-us {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 35px;
  }

.about-us{
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 0px;
}

.our-name{
  font-size: 30px;
  color: var(--coral);
      word-break: break-word;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0;
  }

.empty-space {
  flex: 0.5;
}

.text-container-left, .slider-container {
  flex: 10;
  padding: 10px;
}


/* carousel */
#slider {
  overflow: hidden;
  max-width: 900px;
  max-height: 900px;
}

#slider figure {
  position:relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img{
  float: left;
  width: 20%;
  max-width: 900px;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
/* end carousel */

/******************** reservation page *************** */

.reservationTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 120px;
  font-weight: 600;
  font-size: 1.2em;      
}

.reservation{
  min-height: 50vh;
  color: #eef0f2ff;
  background: url(images/bg1.jpg); 
  background-size: cover;
}
form{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 20px;
gap: 1rem;
}
.input p{
font-size: 20px;
font: weight 50px;
margin-bottom: 15px;
}
.first,.mid,.last{
display: flex;
align-items: center;
width: 800px;
gap: 15rem;
}
form .input{
  width: 200px;
}

input, .input-i{
outline: none;
border: 1px solid #ef8354ff;
width: 200px;
background-color: transparent;
display: flex;
align-items: center;
border-radius: 5px;
color: #eef0f2ff;
;
}

::placeholder{
color: #eef0f2ff;
}

input{
padding: 5px;
}

.input-i input{
border: none;
padding-right: 10px;
}
.input-i{
padding-right: 20px;
content:attr(placeholder);
}
select {
width: 50%;
padding: 5px;
background-color: transparent;
color: #eef0f2ff;
border: 0;
outline: none;
cursor: pointer;
}
option {
color: black;
padding-top: 10px;
} 
::-webkit-calendar-picker-indicator{
cursor: pointer;
background-color: #ef8354ff;
padding: 3px;
border-radius: 3px;
}
.btn{
background-color: #ef8354ff;
border: none;
color: #141414;
padding: 10px 25px 10px 25px;
font-size: 15px;
border-radius: 10px;
cursor: pointer;
font-weight: 550;
margin-bottom: 40px;
margin-top: 20px;
margin-right: 120px;
}
.btn:hover{
opacity: 0.8;
}

/******************* end of reservation page  *******************/
/*-------------------------Menu page style---------------------------------------------------------*/
.menu{
  background: url(images/pexels-shantanu-pal-2679501\(1\).png) no-repeat center center /cover;
  width: 100%;
  height: 1600px;
  display:flex;

}
.title{
  color: var(--antiflash-white);
  font-size: 65px;
  padding: 20px;
  margin: 15px;
  text-decoration: underline;
  text-decoration-color: var(--coral);  
}
.menu-filter ul li{
display: inline-block;
color: var(--antiflash-white);
text-transform: uppercase;
letter-spacing: 1px;
font-size: 17px;
font-weight: bolder;
margin-bottom: 40px;
}
.menu-filter ul li a{
  padding: 10px 20px;
  border: 2px solid var(--coral);
  border-radius: 0;
  text-decoration: none;
  cursor: pointer;
}
.menu-filter ul li a:hover{
  background-color: var(--coral);
  border: 1px solid var(--coral);
  padding: 17px;
}
.menu-filter li a:active{
  background-color: var(--coral);
  border: 1px solid var(--coral);
  padding: 17px;
  transition: 0.3.s ease 0.2s;
}
/*---------------------Menu Restaurant-------------*/
.menu-restaurant{
  padding: 20px;
  width: 47%;
  justify-content: space-between;
  float: left;
  height:120px;
  position: relative;
  align-items: center;
}
.menu-restaurant .menu-title{
  float: left;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: var(--coral);

}
.menu-restaurant span.menu-prices{
  font-weight: bolder;
  position: absolute;
  right: 0;
  color: var(--coral);
  font-size: 34px;
}
.menu-restaurant span.menu-subtitle{
  display: block;
  float: left;
  color: var(--antiflash-white);
  font-size: 24px;
  font-weight: 600;
}
.menu-restaurant span.clearfix{
  position: relative;
  display: block;

}
/*---------------------------------------------End of Menu page---------------------------------------------------------*/
